* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

img {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* screen */

.screen {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;
    padding: 70px 0;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.col {
    margin: 2px 2px;
    display: flex;
    align-items: center;
    position: relative;
}

.username {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen p {
    padding: 0 5px;
}

.view {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    background-color: #4a4a4a;
    padding: 5px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.speaker {
    position: absolute;
    top: 10px;
    right: 50px;
    color: white;
    background-color: #4a4a4a;
    padding: 4px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* bottom bar */

.bottom-bar {
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-bottom-bar {
    display: flex;
    justify-content: left;
    width: 25%;
    align-items: center;
}

.middle-bottom-bar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.right-bottom-bar {
    display: flex;
    justify-content: right;
    width: 25%;
    align-items: center;
}

.big-font {
    font-size: 1.5rem;
}

.small-font {
    font-size: 0.8rem;
    color: white;
}

.flex-col {
    flex-direction: column;
    text-align: center;
    color: white;
    margin: 0 20px;
}

.bottom-bar p {
    padding: 5px 0 0 0;
}

.end-meeting {
    background-color: #4a4a4a;
    height: 80px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
